lib/tools/dtd/DatabaseTableDefinition2.0.dtd

<!ELEMENT table ( table-name, schema, column+, (key | index)* ) >

<!ELEMENT schema ( schema-major, schema-minor ) >
<!ELEMENT column ( column-name, column-type, column-size, not-null?, default? ) >
<!ELEMENT key ( column-name+ ) >
<!ELEMENT index ( column-name+ ) >

<!ELEMENT table-name ( #PCDATA ) >
<!ELEMENT schema-major ( #PCDATA ) >
<!ELEMENT schema-minor ( #PCDATA ) >
<!ELEMENT column-name ( #PCDATA ) >
<!ELEMENT column-type ( #PCDATA ) >
<!ELEMENT column-size ( #PCDATA ) >
<!ELEMENT not-null EMPTY >
<!ELEMENT default ( #PCDATA ) >
<!ATTLIST key primary (true | false) "false">
<!ATTLIST not-null empty (allowed | disallowed) "disallowed">
