lib/tools/dtd/GalleryClass2.1.dtd

<!ELEMENT classes ( class+ ) >
<!ELEMENT class ( class-name, parent-class-name?, schema, requires-id?, member* ) >

<!ELEMENT schema ( schema-name, schema-major, schema-minor ) >
<!ELEMENT member ( member-name, member-type, member-size?, id?, (indexed | unique)?, required?, primary?, linked?, default?, member-external-access? ) >
<!ELEMENT key ( member-name+ ) >
<!ELEMENT index ( member-name+ ) >

<!ELEMENT class-name ( #PCDATA ) >
<!ELEMENT parent-class-name ( #PCDATA ) >
<!ELEMENT schema-name ( #PCDATA ) >
<!ELEMENT schema-major ( #PCDATA ) >
<!ELEMENT schema-minor ( #PCDATA ) >
<!ELEMENT member-name ( #PCDATA ) >
<!ELEMENT member-type ( #PCDATA ) >
<!ELEMENT member-size ( #PCDATA ) >
<!ELEMENT member-external-access ( #PCDATA ) >
<!ELEMENT requires-id EMPTY >
<!ELEMENT required EMPTY >
<!ELEMENT default ( #PCDATA ) >
<!ELEMENT indexed EMPTY >
<!ELEMENT unique EMPTY >
<!ELEMENT linked EMPTY >
<!ELEMENT primary EMPTY >
<!ELEMENT id EMPTY >
<!ATTLIST key primary (true | false) "false">
<!ATTLIST required empty (allowed | disallowed) "disallowed">
