lib/tools/dtd/MapsDefinition2.0.dtd

<!ELEMENT maps ( map* ) >
<!ELEMENT map ( map-name, schema, member+, key?, index* ) >
<!ELEMENT member ( member-name, member-type, member-size?, id?, (indexed | unique)?, required?, primary?, default? ) >
<!ELEMENT schema ( schema-major, schema-minor ) >
<!ELEMENT key ( member-name+ ) >
<!ELEMENT index ( member-name+ ) >

<!ELEMENT map-name ( #PCDATA ) >
<!ELEMENT schema-major ( #PCDATA ) >
<!ELEMENT schema-minor ( #PCDATA ) >
<!ELEMENT member-name ( #PCDATA ) >
<!ELEMENT member-type ( #PCDATA ) >
<!ELEMENT member-size ( #PCDATA ) >
<!ELEMENT required EMPTY >
<!ELEMENT default ( #PCDATA ) >
<!ELEMENT indexed EMPTY >
<!ELEMENT unique EMPTY >
<!ELEMENT primary EMPTY >
<!ELEMENT id EMPTY >
<!ATTLIST key primary (true | false) "false">
<!ATTLIST required empty (allowed | disallowed) "disallowed">
